@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
  text-align: center;
  background: #6090DC;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
}

.label {
  font-size: 8em;
  margin-top: 40px;
}

.index {
  font-size: 12em;
  margin-top: 80px;
}